.monkeybrain{
    color: var(--box-color);
}

.img{
    width: 30%;
    height: auto;
}

h1{
    font-family: decoy;
    font-size: 1250%;
    color: var(--big-text-color);
    text-shadow: 1px 1px 2px black;
}

h5{
    font-family: superior title;

}

p{
    font-family: roboto;
}

body {
    background-color: var(--main-color);
}

.box-color{
    background-color: var(--box-color);
}

.modal-color{
    background-color: var(--modal-color);
}


.modal-color-topbottom{
    background-color: var(--main-color)
}

.btn-color{
    background-color: var(--box-color)
}

.colorgobr{
    color: white;
}

.img-size{
    width: 7%;
    height: 7%;
}

.shadow{
    box-shadow: 1px 1px 2px black;

}

.imgshadow{
    box-shadow:(0px 10px 3px black);
}

:root {
    --main-color: #DEAD68;
    --big-text-color: #805E2F;
    --box-color: #543E20 ;
    --modal-color: #AB8146;
}

.container2 {
    width: 80%;
  }

.image {
    opacity: 1;
    display: block;
    width: 7%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .container2:hover .image {
    opacity: 0.3;
  }
  
  .container2:hover .middle {
    opacity: 1;
  }

  .container3:hover .image {
    opacity: 0.3;
  }
  
  .container3:hover .middle {
    opacity: 1;
  }

.ogaboga {
    margin-top: 22%;
    margin-right: 20%;
    font-family: decoy;
    font-size: 160%;
    color: var(--big-text-color);
    text-shadow: 1px 1px 2px black;
}

.img1{
  
}
    
    
    
    