.monkeybrain{
    color: #17a2b8;
}

.img{
    width: 30%;
    height: auto;
}

h1{
    font-family: decoy;
}

h5{
font-family: superior title;

}

p{
    font-family: roboto;
}

body {
    background-color: gray ;
    
}